PORT=8000
DATABASE_URL=postgresql://abc:abc@localhost:5432/course_db?schema=public

SESSION_TOKEN_SECRET=abcd1234
SESSION_TOKEN_EXPIRES_IN=365d

PAYMENT_API_KEY=abcdef123456

ADMIN_NAME=Đinh Viết Huy
ADMIN_EMAIL=abc@gmail.com
ADMIN_PASSWORD=123456

OTP_EXPIRES_IN=10m

RESEND_API_KEY=11111

DOMAIN=http://localhost:8000
URL_ENDPOINT=http://localhost:8000
CLIENT_URL=http://localhost:3000

REDIS_URL=redis://localhost:6379

NODE_ENV=development

TELEGRAM_TOKEN_BOT=123456789:ABCdefGhIjKlMnOpQrStUvWxYz
TELEGRAM_YOUR_ID=123456789

UPLOAD_PROVIDER=local

AZURE_STORAGE_CONNECTION_STRING=1DefaultEndpointsProtocol=https;AccountName=your_account_name;AccountKey=your_account_key;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER=111
AZURE_STORAGE_ACCOUNT_NAME=111
AZURE_STORAGE_ACCOUNT_KEY=111

